* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --green: #006400;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
}
